@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.limite{
    width: 2em;
}

.imgs{
    padding: 0.5rem;
    column-count: 3;
    column-gap: 0;
}

img{
    width:100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: scale 350ms ease, opacity 350ms linear;
}

.imgs:has(img:hover) img:not(:hover){
    scale: .9;
    opacity: .7;
}

.imgs img{
    padding: 5px;
}

label{
    font-size: 20px;
}
